.incorrect{
    color: rgb(124, 35, 35);
}

.correct{
    color: rgb(36, 164, 100);
}

.btn{
    margin: 1%;
}

.form-control{
    width: 35%;
    margin-left: 1%;
}

.form-label{
    margin-left: 1%;
}

.form-check-input{
    margin-left: 1%;
}

.form-check-label{
    margin-left: 1%;
}

.valid{
    margin-left: 1%;
}

.invalid{
    margin-left: 1%;
}

.principal-div{
    background-image: linear-gradient(rgba(194, 105, 105, 0.5), rgba(201, 190, 190, 0.5));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}